<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>write new chat</title>
</head>
<body>
    <h3>write new chat</h3>
    <form action="/chats" method="post">
        <input type="text" placeholder="who are you" name="from" required>
        <br><br>
        <textarea name="message" id="" placeholder="write your message here"></textarea>
        <br><br>
        <input placeholder="add receiver" name="to" required>
        <br><br>
        <button>create chat</button>
    </form>
</body>
</html>